body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d12;
    color: white;
    text-align: center;
    position: relative;
}

.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(180deg, #7a00ff, #a855f7);
}

header {
    padding: 80px 20px;
}

h1 {
    font-size: 38px;
}

p {
    color: #b3b3b3;
}

section {
    padding: 60px 20px;
}

h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.item {
    background: #1a1a22;
    padding: 25px 30px;
    border-radius: 12px;
    width: 200px;
    transition: 0.3s;
}

.item a {
    text-decoration: none;
    color: #7a00ff;
    font-weight: bold;
    font-size: 18px;
}

.item:hover {
    transform: translateY(-5px);
    background: #22222c;
}

footer {
    padding: 25px;
    background: #111116;
    color: #777;
}
.more {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
