body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d0d12;
    color: white;
    text-align: center;
    position: relative;
}

/* Fioletowy pasek */
.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(180deg, #7a00ff, #a855f7);
}

header {
    padding: 120px 20px;
}

h1 {
    font-size: 42px;
}

p {
    color: #b3b3b3;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 28px;
    background: #7a00ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: #a855f7;
}

section {
    padding: 80px 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.item, .card {
    background: #1a1a22;
    padding: 35px;
    border-radius: 12px;
    width: 260px;
    transition: 0.3s;
}

.item:hover, .card:hover {
    transform: translateY(-5px);
    background: #22222c;
}

h2 {
    margin-bottom: 40px;
}

footer {
    padding: 30px;
    background: #111116;
    color: #777;
}
.item img {
    width: 100%;       /* dopasuje do szerokości kontenera */
    max-width: 250px;  /* nie rozciąga się za bardzo */
    height: auto;      /* zachowuje proporcje */
    border-radius: 10px;
    display: block;
    margin: 0 auto;    /* wyśrodkowanie */
}
